<h1> Welcome to the Message Board </h1>

<p>View and ask questions here.</p>

<ul>
  {{#each model as |question|}}
     {{question-tile question=question}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
