<h2>{{model.user}}'s question</h2>

{{update-question question=model update="update"}}

{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{new-comment saveComment="saveComment" question=model}}
